:root {
    --color-white-main: #E5E5E5;
    --color-white-secondary: #FFFFFF;
    --color-black-main: #232730;
}

/* Global styles */
body {
font-family: 'Nunito Sans', sans-serif;
color: var(--color-black-main);
background-color: var(--color-white-main);
}

a {
text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}
